In [1]:
import pandas as pd

In [2]:
banks = pd.read_csv("banks.csv")
banks.head()

   Obs  Financial Condition  TotCap/Assets  TotExp/Assets  TotLns&Lses/Assets
0    1                    1            9.7           0.12                0.65
1    2                    1            1.0           0.11                0.62
2    3                    1            6.9           0.09                1.02
3    4                    1            5.8           0.10                0.67
4    5                    1            4.3           0.11                0.69